 body{
    background-color: beige;
    font-size: 20px;
    font-family: sans-serif;
    margin: 0 10%;
}
/*header{
    color:rosybrown;
}
.paragraph:not(#paragraph_3){
    background-color: brown;
} */
.paragraph:first-child{
    background-color: brown;
}